<a href="https://colab.research.google.com/github/CommoditiesAgricolasInteligentes/codigo-fonte/blob/main/consolidacao_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Consolidação dos Datasets

In [ ]:
import pandas as pd

In [ ]:
d1 = pd.read_csv('area_agri.csv').drop(columns=['YEAR'])
d1

,AREA_AGRI_AUS,AREA_AGRI_BRA,AREA_AGRI_CAN,AREA_AGRI_CHN,AREA_AGRI_DEU,AREA_AGRI_EGY,AREA_AGRI_FRA,AREA_AGRI_GBR,AREA_AGRI_IDN,AREA_AGRI_IND,AREA_AGRI_PHL,AREA_AGRI_RUS,AREA_AGRI_TUR,AREA_AGRI_USA
0,60.896151,27.373333,6.839325,53.422560,51.682754,2.866543,56.005760,74.965899,23.180722,60.536663,37.025858,13.166160,50.148773,46.615336
1,61.763332,18.779178,6.897817,36.420045,55.495088,2.579738,63.077328,81.841855,21.307485,58.843195,25.859988,13.166160,47.447475,48.860242
2,62.037792,19.222698,6.946559,36.712150,55.546645,2.516450,62.896528,81.755053,21.307485,59.357794,26.124858,13.166160,47.617686,48.476137
3,62.399227,19.666218,6.995301,37.014865,55.572423,2.501381,62.739469,81.622783,21.279884,59.247475,26.393080,13.166160,48.555800,48.197940
4,62.729106,20.109737,7.044043,37.317474,55.732822,2.517454,62.292034,81.440913,21.279884,59.435152,27.331858,13.166160,48.454452,47.932516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,44.539926,28.254971,6.474755,56.081665,47.678612,3.750832,52.447546,71.714884,32.063590,60.431389,41.721166,13.158436,49.800554,44.303705
57,48.340618,28.341066,6.471855,56.079351,47.763116,3.853502,52.410067,72.195067,33.182088,60.431389,41.721166,13.158436,49.326300,44.363367
58,46.658095,28.341090,6.491374,56.079083,47.641536,3.853502,52.341765,71.718520,33.182088,60.431389,41.721166,13.158436,49.117108,44.363367
59,60.896151,27.373333,6.839325,53.422560,51.682754,2.866543,56.005760,74.965899,23.180722,60.536663,37.025858,13.166160,50.148773,46.615336
60,60.896151,27.373333,6.839325,53.422560,51.682754,2.866543,56.005760,74.965899,23.180722,60.536663,37.025858,13.166160,50.148773,46.615336

In [ ]:
d2 = pd.read_csv('cresc_pop.csv').drop(columns=['YEAR'])
d2

,CRES_POP_AUS,CRES_POP_BRA,CRES_POP_CAN,CRES_POP_CHN,CRES_POP_DEU,CRES_POP_EGY,CRES_POP_FRA,CRES_POP_GBR,CRES_POP_IDN,CRES_POP_IND,CRES_POP_PHL,CRES_POP_RUS,CRES_POP_TUR,CRES_POP_USA
0,1.989740,2.911114,2.001122,-1.015528,0.769854,2.716314,1.318629,0.760460,2.639835,1.998439,3.336629,1.110602,2.425790,1.657730
1,1.989740,2.911114,2.001122,-1.015528,0.769854,2.716314,1.318629,0.760460,2.639835,1.998439,3.336629,1.110602,2.425790,1.657730
2,2.440639,2.921449,1.859888,0.820456,0.879432,2.689561,1.396523,0.848661,2.650489,2.031905,3.317899,1.111455,2.407716,1.537997
3,1.917816,2.908779,1.862846,2.457647,0.925875,2.664519,1.404858,0.748366,2.663063,2.056910,3.276823,1.110532,2.393811,1.439165
4,1.962354,2.868020,1.885715,2.320683,0.805141,2.643836,1.324914,0.650258,2.680609,2.071544,3.208808,1.111100,2.385353,1.389046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,1.561940,0.823752,1.132349,0.541479,0.807219,2.145222,0.263869,0.757874,1.220591,1.090459,1.507103,0.170245,1.639942,0.724676
57,1.684523,0.807145,1.199682,0.559121,0.373725,2.090833,0.290202,0.679374,1.176197,1.063359,1.445278,0.106871,1.601312,0.632644
58,1.536106,0.783844,1.412548,0.455900,0.300527,2.033272,0.274452,0.605929,1.134507,1.037828,1.395965,-0.013067,1.497232,0.526435
59,1.521654,0.751551,1.415015,0.357291,0.225520,1.976280,0.218824,0.564131,1.097926,1.013261,1.364496,-0.049569,1.314514,0.455381
60,1.258698,0.712873,1.089591,0.314091,0.177430,1.920248,0.211907,0.565405,1.065179,0.989414,1.345430,-0.209477,1.084194,0.350911

In [ ]:
d3 = pd.read_csv('inflacao.csv').drop(columns=['YEAR'])
d3

,INFLACAO_AUS,INFLACAO_BRA,INFLACAO_CAN,INFLACAO_CHN,INFLACAO_DEU,INFLACAO_EGY,INFLACAO_FRA,INFLACAO_GBR,INFLACAO_IDN,INFLACAO_IND,INFLACAO_PHL,INFLACAO_RUS,INFLACAO_TUR,INFLACAO_USA
0,3.728814,101.725073,1.358696,7.233836,1.536612,0.332829,4.139936,1.003576,39.590444,1.779878,4.154822,874.245720,5.664740,1.457976
1,2.287582,101.725073,1.018767,7.233836,2.293676,0.693607,2.400461,3.447496,13.691932,1.695213,1.595633,874.245720,3.172857,1.070724
2,-0.319489,101.725073,1.061571,7.233836,2.843280,-3.003077,5.331280,4.196499,131.397849,3.632215,5.796652,874.245720,3.888320,1.198773
3,0.641026,101.725073,1.628151,7.233836,2.966961,0.746646,4.999153,2.018544,145.910781,2.946161,5.625549,874.245720,6.362707,1.239669
4,2.866242,101.725073,1.912145,7.233836,2.335728,3.660983,3.211192,3.281587,108.994709,13.355261,8.183079,874.245720,1.119638,1.278912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,1.276991,8.739144,1.428760,2.000002,0.491749,13.813606,0.183335,1.008417,3.525805,4.948216,1.253699,7.042448,7.775134,1.261583
57,1.948647,3.446373,1.596884,1.593136,1.509497,29.506608,1.032283,2.557756,3.808798,3.328173,2.853188,3.683329,11.144311,2.130110
58,1.911401,3.664850,2.268226,2.074790,1.732168,14.401466,1.850815,2.292840,3.198346,3.945069,5.211605,2.878297,16.332464,2.442583
59,1.610768,3.732976,1.949269,2.899234,1.445667,9.152800,1.108255,1.738105,3.030587,3.723276,2.480279,4.470367,15.176822,1.812210
60,0.846906,3.211768,0.717000,2.419422,0.506690,5.044933,0.476499,0.989487,1.920968,6.623437,2.635229,3.381659,12.278957,1.233584

In [ ]:
d4 = pd.read_csv('pib.csv').drop(columns=['YEAR'])
d4

,PIB_AUS,PIB_BRA,PIB_CAN,PIB_CHN,PIB_DEU,PIB_EGY,PIB_FRA,PIB_GBR,PIB_IDN,PIB_IND,PIB_PHL,PIB_RUS,PIB_TUR,PIB_USA
0,1.857767e+10,1.516557e+10,4.046172e+10,5.971647e+10,2.071324e+12,4.477877e+10,6.222548e+10,7.323397e+10,1.340142e+11,3.702988e+10,6.684569e+09,5.910167e+11,1.399507e+10,5.433000e+11
1,1.965282e+10,1.523685e+10,4.093495e+10,5.005687e+10,2.071324e+12,4.477877e+10,6.746164e+10,7.774197e+10,1.340142e+11,3.923244e+10,7.256967e+09,5.910167e+11,7.988889e+09,5.633000e+11
2,1.989249e+10,1.992629e+10,4.222745e+10,4.720936e+10,2.071324e+12,4.477877e+10,7.560753e+10,8.124756e+10,1.340142e+11,4.216148e+10,4.399828e+09,5.910167e+11,8.922222e+09,6.051000e+11
3,2.150745e+10,2.302148e+10,4.502999e+10,5.070680e+10,2.071324e+12,4.477877e+10,8.475920e+10,8.656196e+10,1.340142e+11,4.842192e+10,4.875310e+09,5.910167e+11,1.035556e+10,6.386000e+11
4,2.376414e+10,2.121189e+10,4.937752e+10,5.970834e+10,2.071324e+12,4.477877e+10,9.400785e+10,9.440756e+10,1.340142e+11,5.648029e+10,5.271405e+09,5.910167e+11,1.117778e+10,6.858000e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,1.208847e+12,1.795700e+12,1.527995e+12,1.123328e+13,3.467498e+12,3.324417e+11,2.471286e+12,2.693248e+12,9.318774e+11,2.294798e+12,3.186268e+11,1.276787e+12,8.696930e+11,1.874508e+13
57,1.329188e+12,2.063508e+12,1.649266e+12,1.231041e+13,3.673506e+12,2.357337e+11,2.588741e+12,2.662484e+12,1.015619e+12,2.651473e+12,3.284809e+11,1.574199e+12,8.589963e+11,1.954298e+13
58,1.432881e+12,1.916947e+12,1.721853e+12,1.389482e+13,3.961832e+12,2.497130e+11,2.786503e+12,2.857317e+12,1.042272e+12,2.701112e+12,3.468421e+11,1.657329e+12,7.783770e+11,2.061186e+13
59,1.396567e+12,1.877811e+12,1.741576e+12,1.427994e+13,3.861124e+12,3.030809e+11,2.715518e+12,2.830814e+12,1.119091e+12,2.870504e+12,3.768233e+11,1.687449e+12,7.614282e+11,2.143322e+13
60,1.330901e+12,1.444733e+12,1.643408e+12,1.472273e+13,3.806060e+12,3.630692e+11,2.603004e+12,2.707744e+12,1.058424e+12,2.622984e+12,3.614894e+11,1.483498e+12,7.201012e+11,2.093660e+13

In [ ]:
d5 = pd.read_csv('pobreza.csv').drop(columns=['YEAR'])
d5

,SI_POV_UMIC_GP_AUS,SI_POV_UMIC_AUS,SI_POV_UMIC_GP_BRA,SI_POV_UMIC_BRA,SI_POV_UMIC_GP_CAN,SI_POV_UMIC_CAN,SI_POV_UMIC_GP_CHN,SI_POV_UMIC_CHN,SI_POV_UMIC_GP_DEU,SI_POV_UMIC_DEU,...,SI_POV_UMIC_GP_IND,SI_POV_UMIC_IND,SI_POV_UMIC_GP_PHL,SI_POV_UMIC_PHL,SI_POV_UMIC_GP_RUS,SI_POV_UMIC_RUS,SI_POV_UMIC_GP_TUR,SI_POV_UMIC_TUR,SI_POV_UMIC_GP_USA,SI_POV_UMIC_USA
0,1.0,1.7,31.4,60.2,2.7,4.5,67.3,98.3,0.1,0.2,...,65.6,97.1,29.200000,64.000000,11.3,30.5,12.8,39.2,0.9,1.7
1,1.0,1.7,31.4,60.2,2.7,4.5,67.3,98.3,0.1,0.2,...,65.6,97.1,29.200000,64.000000,11.3,30.5,12.8,39.2,0.9,1.7
2,1.0,1.7,31.4,60.2,2.7,4.5,67.3,98.3,0.1,0.2,...,65.6,97.1,29.200000,64.000000,11.3,30.5,12.8,39.2,0.9,1.7
3,1.0,1.7,31.4,60.2,2.7,4.5,67.3,98.3,0.1,0.2,...,65.6,97.1,29.200000,64.000000,11.3,30.5,12.8,39.2,0.9,1.7
4,1.0,1.7,31.4,60.2,2.7,4.5,67.3,98.3,0.1,0.2,...,65.6,97.1,29.200000,64.000000,11.3,30.5,12.8,39.2,0.9,1.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,0.6,0.7,7.9,20.0,0.4,0.7,6.5,24.0,0.2,0.5,...,44.4,87.4,19.533333,52.033333,0.8,4.1,2.3,9.5,1.2,1.7
57,0.6,0.7,8.2,20.2,0.4,0.7,6.5,24.0,0.2,0.5,...,44.4,87.4,17.766667,49.466667,0.8,3.8,2.1,8.7,1.3,1.7
58,0.6,0.7,8.1,19.8,0.4,0.7,6.5,24.0,0.2,0.5,...,44.4,87.4,16.000000,46.900000,0.7,3.7,1.9,8.5,1.2,1.7
59,0.6,0.7,8.1,19.6,0.4,0.7,6.5,24.0,0.2,0.5,...,44.4,87.4,16.000000,46.900000,0.7,3.7,2.7,10.2,1.2,1.7
60,0.6,0.7,8.1,19.6,0.4,0.7,6.5,24.0,0.2,0.5,...,44.4,87.4,16.000000,46.900000,0.7,3.7,2.7,10.2,1.2,1.7

In [ ]:
d6 = pd.read_csv('precipitacao.csv').drop(columns=['YEAR'])
d6

,PRECIP_AUS,PRECIP_BRA,PRECIP_CAN,PRECIP_CHN,PRECIP_DEU,PRECIP_EGY,PRECIP_FRA,PRECIP_GBR,PRECIP_IDN,PRECIP_IND,PRECIP_PHL,PRECIP_RUS,PRECIP_TUR,PRECIP_USA
0,31.35,133.10,34.10,32.00,62.40,2.25,84.60,113.95,248.90,39.40,202.00,27.45,51.00,50.70
1,26.10,125.25,33.45,41.30,61.20,2.95,59.55,102.90,226.40,41.65,200.55,31.95,46.40,55.80
2,23.65,144.05,34.45,33.30,56.55,1.75,66.70,73.75,246.95,44.70,185.85,32.35,42.50,50.00
3,32.80,137.70,32.30,33.20,49.25,2.15,64.30,87.15,202.55,41.20,168.30,33.20,59.30,49.15
4,34.60,156.00,34.60,51.95,48.85,2.45,64.95,80.20,260.40,39.00,240.35,31.65,39.15,55.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,31.50,129.30,32.60,48.85,53.35,2.30,73.70,94.40,259.10,38.65,204.55,30.40,45.85,57.70
57,29.60,138.20,36.15,42.85,64.95,1.75,63.00,103.35,269.45,44.50,260.90,36.50,50.65,61.75
58,22.90,151.05,33.25,33.10,45.80,2.80,75.00,93.55,261.20,38.00,217.10,32.90,54.65,64.80
59,21.85,147.90,31.90,37.95,61.05,2.85,56.05,120.25,232.90,36.60,204.00,35.10,44.95,64.10
60,27.80,140.95,33.40,31.80,50.85,2.45,62.95,100.15,257.85,48.85,201.65,36.10,47.05,54.80

In [ ]:
d7 = pd.read_csv('prod_agri.csv').drop(columns=['YEAR'])
d7

,PROD_AGRO_BRA,PROD_AGRO_CAN,PROD_AGRO_USA,PROD_AGRO_CHN,PROD_AGRO_IDN,PROD_AGRO_PHL,PROD_AGRO_IND,PROD_AGRO_FRA,PROD_AGRO_DEU,PROD_AGRO_GBR,PROD_AGRO_EGY,PROD_AGRO_TUR,PROD_AGRO_AUS,PROD_AGRO_RUS
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,49.0,52.0,53.0,41.0,53.0,57.0,71.0,60.0,47.0,63.0,47.0,55.0,51.0,93.0
2,49.0,58.0,53.0,43.0,55.0,59.0,70.0,66.0,50.0,65.0,55.0,56.0,56.0,89.0
3,47.0,59.0,54.0,44.0,53.0,61.0,71.0,61.0,52.0,65.0,56.0,56.0,56.0,82.0
4,46.0,56.0,54.0,45.0,55.0,60.0,71.0,60.0,50.0,66.0,56.0,57.0,57.0,84.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,135.0,98.0,118.0,148.0,127.0,105.0,140.0,120.0,122.0,107.0,114.0,113.0,115.0,142.0
57,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
d8 = pd.read_csv('temp_max.csv').drop(columns=['YEAR'])
d8

,TEMP_MAX_AUS,TEMP_MAX_BRA,TEMP_MAX_CAN,TEMP_MAX_CHN,TEMP_MAX_DEU,TEMP_MAX_EGY,TEMP_MAX_FRA,TEMP_MAX_GBR,TEMP_MAX_IDN,TEMP_MAX_IND,TEMP_MAX_PHL,TEMP_MAX_RUS,TEMP_MAX_TUR,TEMP_MAX_USA
0,29.20,30.35,-2.75,14.76,12.45,32.25,14.60,12.15,30.70,30.30,29.60,-2.10,18.05,13.65
1,30.20,30.45,-3.65,14.08,14.90,30.05,16.40,12.55,30.50,30.15,29.55,-1.70,18.35,12.35
2,29.10,30.50,-2.45,13.76,13.40,31.00,14.80,11.70,30.25,30.10,29.35,-0.40,17.75,14.15
3,28.95,30.60,-0.80,14.31,12.90,31.95,14.85,11.85,30.65,30.75,29.55,-1.50,16.45,14.80
4,28.25,30.40,-3.40,14.17,12.20,30.70,13.80,11.45,30.35,30.45,29.65,-2.90,17.45,13.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,30.25,31.30,-2.70,14.83,12.70,33.05,15.15,11.80,31.15,31.25,30.15,0.45,20.10,15.55
57,30.05,31.15,-2.20,14.98,14.05,31.15,16.85,12.95,30.95,31.35,29.90,0.30,18.00,15.05
58,31.45,31.00,-3.85,15.56,17.15,32.10,17.70,12.50,31.10,31.10,30.30,1.95,20.25,13.45
59,31.10,31.25,-2.60,14.58,15.50,31.75,16.60,12.55,31.10,30.90,29.90,1.30,18.70,13.90
60,30.35,31.40,-3.55,NaN,15.45,32.15,16.95,12.95,31.20,31.35,30.35,2.20,19.20,13.85

In [ ]:
d9 = pd.read_csv('temp_med.csv').drop(columns=['YEAR'])
d9

,TEMP_MED_AUS,TEMP_MED_BRA,TEMP_MED_CAN,TEMP_MED_CHN,TEMP_MED_DEU,TEMP_MED_EGY,TEMP_MED_FRA,TEMP_MED_GBR,TEMP_MED_IDN,TEMP_MED_IND,TEMP_MED_PHL,TEMP_MED_RUS,TEMP_MED_TUR,TEMP_MED_USA
0,21.95,25.25,-7.05,6.70,8.45,24.65,10.35,8.70,25.70,25.45,25.40,-7.15,12.10,7.10
1,23.00,25.50,-8.10,7.90,10.70,22.55,12.05,9.00,25.75,25.20,25.20,-6.55,11.95,5.85
2,21.80,25.45,-6.90,7.05,8.85,23.50,10.30,7.65,25.50,24.90,25.15,-5.45,11.85,7.65
3,21.85,25.50,-5.55,6.95,8.60,24.35,10.45,8.05,25.65,25.50,25.25,-6.35,11.15,8.05
4,21.45,25.25,-8.00,7.90,8.10,23.05,9.60,7.75,25.55,25.40,25.45,-7.85,11.25,6.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,22.85,26.45,-7.05,8.55,8.60,25.50,10.60,8.05,26.40,26.10,26.30,-3.90,13.40,9.20
57,22.85,26.25,-6.60,8.50,9.75,23.65,11.90,9.40,26.20,26.55,26.00,-4.05,11.55,8.70
58,23.95,26.05,-8.40,8.40,11.80,24.65,12.90,8.95,26.25,25.95,26.15,-2.70,13.80,7.30
59,23.55,26.35,-6.85,9.05,10.60,24.15,11.60,8.80,26.40,25.85,26.10,-3.25,12.55,7.75
60,23.30,26.55,-7.95,8.05,10.75,24.30,12.25,9.10,26.45,26.45,26.30,-2.40,12.85,7.40

In [ ]:
d10 = pd.read_csv('temp_min.csv').drop(columns=['YEAR'])
d10

,TEMP_MIN_AUS,TEMP_MIN_BRA,TEMP_MIN_CAN,TEMP_MIN_CHN,TEMP_MIN_DEU,TEMP_MIN_EGY,TEMP_MIN_FRA,TEMP_MIN_GBR,TEMP_MIN_IDN,TEMP_MIN_IND,TEMP_MIN_PHL,TEMP_MIN_RUS,TEMP_MIN_TUR,TEMP_MIN_USA
0,14.75,20.05,-11.45,0.15,4.70,16.90,6.25,5.25,21.00,19.45,21.15,-12.20,6.25,0.55
1,15.85,20.45,-12.60,1.25,6.25,15.05,7.30,5.10,20.95,19.50,20.95,-11.45,5.60,-0.65
2,14.55,19.90,-11.45,0.30,4.40,16.40,5.80,3.65,20.95,19.25,21.05,-10.50,6.05,1.20
3,14.80,20.40,-10.35,0.50,4.55,16.70,6.35,4.35,20.85,19.45,20.75,-11.25,5.85,1.35
4,14.70,19.70,-12.65,1.80,4.10,15.40,5.40,4.10,20.75,20.10,21.20,-12.80,4.30,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,15.50,21.35,-11.00,2.65,4.60,18.05,6.10,4.75,21.80,20.90,22.55,-8.30,6.65,2.80
57,15.65,21.10,-11.00,2.40,5.45,16.20,7.20,5.55,21.70,21.15,22.05,-8.40,5.25,2.35
58,16.50,21.05,-13.00,2.05,6.55,17.20,8.15,5.40,21.45,20.60,22.10,-7.35,7.35,1.25
59,16.10,21.30,-11.15,2.75,5.35,16.65,6.50,4.70,21.75,20.60,22.50,-7.85,6.55,1.65
60,16.25,21.25,-12.35,1.70,5.80,16.55,7.65,5.65,21.65,20.50,22.45,-7.00,6.55,0.90

In [ ]:
d11 = pd.read_csv('trigo_export.csv').drop(columns=['YEAR'])
d11

,TRIGO_EXPORT_AUS,TRIGO_EXPORT_BRA,TRIGO_EXPORT_CAN,TRIGO_EXPORT_CHN,TRIGO_EXPORT_EGY,TRIGO_EXPORT_IND,TRIGO_EXPORT_IDN,TRIGO_EXPORT_PHL,TRIGO_EXPORT_RUS,TRIGO_EXPORT_TUR,TRIGO_EXPORT_GBR,TRIGO_EXPORT_USA
0,6456,0,9614,2,5,0,0,0,0,1,0,17799
1,4950,0,9744,122,6,0,0,0,0,1,0,19486
2,6148,0,9018,89,15,0,0,0,0,0,0,17663
3,6986,0,16181,113,19,0,0,0,0,0,0,23024
4,7321,0,10875,115,12,0,0,0,0,0,0,19677
...,...,...,...,...,...,...,...,...,...,...,...,...
56,22644,619,20218,748,465,501,305,77,27815,6699,1828,28600
57,13849,230,22000,1004,781,569,318,60,41447,6698,795,24658
58,9006,602,24380,1006,1090,496,274,71,35863,6814,738,25502
59,9136,420,24627,1049,978,509,350,75,34485,6534,1621,26276
60,22000,950,27500,1000,900,2300,300,65,39500,6600,350,26263

In [ ]:
d12 = pd.read_csv('trigo_import.csv').drop(columns=['YEAR'])
d12

,TRIGO_IMPORT_AUS,TRIGO_IMPORT_BRA,TRIGO_IMPORT_CAN,TRIGO_IMPORT_EGY,TRIGO_IMPORT_IND,TRIGO_IMPORT_IDN,TRIGO_IMPORT_PHL,TRIGO_IMPORT_RUS,TRIGO_IMPORT_TUR,TRIGO_IMPORT_GBR,TRIGO_IMPORT_USA,TRIGO_IMPORT_DEU,TRIGO_IMPORT_FRA,TRIGO_IMPORT_HKG,TRIGO_IMPORT_MAC,TRIGO_IMPORT_TWN,TRIGO_IMPORT_CHN
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,0.0,138890.0,10.0,41480.0,246460.0,0.0,16860.0,0.0,62190.0,282630.0,11490.0,285390.0,48800.0,6050.0,5.0,19410.0,283000.0
2,0.0,160950.0,20.0,60270.0,262213.0,0.0,22740.0,0.0,50650.0,291561.0,8280.0,314840.0,50950.0,7820.0,20.0,19220.0,268000.0
3,0.0,164000.0,0.0,72270.0,303301.0,0.0,27265.0,0.0,57820.0,289730.0,9310.0,201720.0,53370.0,5850.0,120.0,27770.0,419000.0
4,0.0,209560.0,0.0,70090.0,447432.0,0.0,23640.0,0.0,6130.0,288580.0,5704.0,220140.0,51870.0,7010.0,50.0,23620.0,424000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,504.0,1335389.0,33072.0,2115785.0,412573.0,2408210.0,1040762.0,89011.0,892409.0,324885.0,491073.0,920435.0,197952.0,2140.0,0.0,334212.0,801026.0
57,916.0,1149306.0,27496.0,2624361.0,1223459.0,3627763.0,1303522.0,39709.0,1043327.0,436214.0,705555.0,853524.0,173076.0,2834.0,0.0,392232.0,1031376.0
58,876.0,1502383.0,28098.0,2636468.0,18377.0,2570952.0,1682640.0,60466.0,1289386.0,535367.0,799371.0,860392.0,107287.0,1892.0,0.0,359751.0,780899.0
59,129920.0,1491220.0,42395.0,3024161.0,589.0,2799261.0,1847093.0,48620.0,2302225.0,312207.0,432372.0,726863.0,89906.0,2004.0,6.0,367154.0,901034.0
60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [ ]:
d13 = pd.read_csv('trigo_prod.csv').drop(columns=['YEAR'])
d13

,TRIGO_PROD_AUS,TRIGO_PROD_BRA,TRIGO_PROD_CAN,TRIGO_PROD_CHN,TRIGO_PROD_EGY,TRIGO_PROD_IND,TRIGO_PROD_IDN,TRIGO_PROD_PHL,TRIGO_PROD_RUS,TRIGO_PROD_TUR,TRIGO_PROD_GBR,TRIGO_PROD_USA
0,7450,350,14108,20960,1499,10320,0,0,0,7000,0,36877
1,6727,250,7713,14250,1436,10995,0,0,0,6336,0,33557
2,8353,256,15392,16665,1593,12076,0,0,0,6804,0,29719
3,8925,100,19690,18475,1493,10779,0,0,0,7892,0,31216
4,10037,226,16349,20840,1500,9854,0,0,0,7000,0,34917
...,...,...,...,...,...,...,...,...,...,...,...,...
56,31819,6730,32140,133271,8100,87000,0,0,72529,17250,14383,62832
57,20941,4264,30377,134334,8450,98510,0,0,85167,21000,14444,47380
58,17598,5428,32352,131430,8450,99870,0,0,71685,19000,13455,51306
59,15200,5200,32670,133590,8770,103600,0,0,73610,17500,15600,52581
60,33000,6250,35183,134250,8900,107860,0,0,85354,18250,9658,49691

In [ ]:
d14 = pd.read_csv('preco_petroleo.csv').drop(columns=['YEAR'])
d14

    PRECO_PETROLEO
0             2.88
1             2.89
2             2.89
3             2.89
4             2.88
..             ...
56           38.29
57           48.05
58           61.40
59           55.59
60           36.86

[61 rows x 1 columns]

In [ ]:
d15 = pd.read_csv('trigo_preco.csv').drop(columns=['YEAR'])
d15

    TRIGO_PRECO
0        1.9554
1        2.0091
2        2.0897
3        2.0022
4        1.6820
..          ...
56       4.3945
57       4.4014
58       4.9757
59       4.9414
60       5.4980

[61 rows x 1 columns]

In [ ]:
dataset = pd.concat([d1, d2, d3, d4, d5, d6, d7, d8, d9, d10, d11, d12, d13, d14, d15], axis=1)

In [ ]:
dataset

,AREA_AGRI_AUS,AREA_AGRI_BRA,AREA_AGRI_CAN,AREA_AGRI_CHN,AREA_AGRI_DEU,AREA_AGRI_EGY,AREA_AGRI_FRA,AREA_AGRI_GBR,AREA_AGRI_IDN,AREA_AGRI_IND,...,TRIGO_PROD_EGY,TRIGO_PROD_IND,TRIGO_PROD_IDN,TRIGO_PROD_PHL,TRIGO_PROD_RUS,TRIGO_PROD_TUR,TRIGO_PROD_GBR,TRIGO_PROD_USA,PRECO_PETROLEO,TRIGO_PRECO
0,60.896151,27.373333,6.839325,53.422560,51.682754,2.866543,56.005760,74.965899,23.180722,60.536663,...,1499,10320,0,0,0,7000,0,36877,2.88,1.9554
1,61.763332,18.779178,6.897817,36.420045,55.495088,2.579738,63.077328,81.841855,21.307485,58.843195,...,1436,10995,0,0,0,6336,0,33557,2.89,2.0091
2,62.037792,19.222698,6.946559,36.712150,55.546645,2.516450,62.896528,81.755053,21.307485,59.357794,...,1593,12076,0,0,0,6804,0,29719,2.89,2.0897
3,62.399227,19.666218,6.995301,37.014865,55.572423,2.501381,62.739469,81.622783,21.279884,59.247475,...,1493,10779,0,0,0,7892,0,31216,2.89,2.0022
4,62.729106,20.109737,7.044043,37.317474,55.732822,2.517454,62.292034,81.440913,21.279884,59.435152,...,1500,9854,0,0,0,7000,0,34917,2.88,1.6820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,44.539926,28.254971,6.474755,56.081665,47.678612,3.750832,52.447546,71.714884,32.063590,60.431389,...,8100,87000,0,0,72529,17250,14383,62832,38.29,4.3945
57,48.340618,28.341066,6.471855,56.079351,47.763116,3.853502,52.410067,72.195067,33.182088,60.431389,...,8450,98510,0,0,85167,21000,14444,47380,48.05,4.4014
58,46.658095,28.341090,6.491374,56.079083,47.641536,3.853502,52.341765,71.718520,33.182088,60.431389,...,8450,99870,0,0,71685,19000,13455,51306,61.40,4.9757
59,60.896151,27.373333,6.839325,53.422560,51.682754,2.866543,56.005760,74.965899,23.180722,60.536663,...,8770,103600,0,0,73610,17500,15600,52581,55.59,4.9414
60,60.896151,27.373333,6.839325,53.422560,51.682754,2.866543,56.005760,74.965899,23.180722,60.536663,...,8900,107860,0,0,85354,18250,9658,49691,36.86,5.4980

In [ ]:
dataset.to_csv('dataset.csv')